body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.banner {
  display: flex;
  justify-content: center;
  background-color: #f7eef1;
}

.banner-image {
  height: 150px;
}

nav {
  background-color: #615475;
}

nav ul {
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-around;
  background-color: #781c11;
}
nav ul li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

nav ul li a {
  color: #edc531;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #f7eef1;
  padding: 10px;
  border-radius: 10px;
}

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://wallpapercave.com/wp/wp2006361.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 84vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.window {
  height: 750px;
  width: 750px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.font-css {
  text-align: center;
  width: 100%;
  color: #edc531;
  text-shadow: 2px 2px #781c11;
}

.window button {
  text-align: center;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: #781c11;
  color: #edc531;
  box-shadow: 0px 0px 2px 2px #edc531;
}

.quiz {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://sugar4spite.com/wp-content/uploads/2018/12/labyrinth.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 750px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qa-box {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://wallpapercave.com/wp/wp2006361.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 84vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.quiz-font {
  color: #f7eef1;
  text-shadow: 2px 2px 5px #781c11;
}

.quiz button {
  text-align: center;
  height: 60px;
  width: 200px;
  margin: 25px;
  border-radius: 10px;
  background-color: #f7eef1;
  box-shadow: 0px 0px 2px 2px rgb(160, 160, 245);
}

.quiz button:focus {
  background-color: rgb(186, 186, 247);
}

.question-text {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-box {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
